# on: [push, pull_request]

# name: test-coverage

# jobs:
#   test-coverage:
#     runs-on: ${{ matrix.config.os }}

#     name: ${{ matrix.config.os }} (${{ matrix.config.r }})

#     strategy:
#       fail-fast: false
#       matrix:
#         config:
#           - {os: windows-latest, r: 'release'}
#           - {os: ubuntu-16.04, r: 'release', rspm: "https://packagemanager.rstudio.com/cran/__linux__/xenial/latest"}

#     env:
#       R_REMOTES_NO_ERRORS_FROM_WARNINGS: true
#       RSPM: ${{ matrix.config.rspm }}
#       GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

#     steps:
#       - uses: actions/checkout@v2

#       - uses: r-lib/actions/setup-r@master
#         with:
#           r-version: ${{ matrix.config.r }}

#       - uses: r-lib/actions/setup-pandoc@master

#       - name: Query dependencies
#         run: |
#           install.packages('remotes')
#           saveRDS(remotes::dev_package_deps(dependencies = TRUE), ".github/depends.Rds", version = 2)
#         shell: Rscript {0}

#       - name: Cache R packages
#         if: runner.os != 'Windows'
#         uses: actions/cache@v1
#         with:
#           path: ${{ env.R_LIBS_USER }}
#           key: ${{ runner.os }}-r-${{ matrix.config.r }}-1-${{ hashFiles('.github/depends.Rds') }}
#           restore-keys: ${{ runner.os }}-r-${{ matrix.config.r }}-1-

#       - name: Install system dependencies
#         if: runner.os == 'Linux'
#         env:
#           RHUB_PLATFORM: linux-x86_64-ubuntu-gcc
#         run: |
#           Rscript -e "remotes::install_github('r-hub/sysreqs')"
#           sysreqs=$(Rscript -e "cat(sysreqs::sysreq_commands('DESCRIPTION'))")
#           sudo -s eval "$sysreqs"

#       - name: Install RGtk2
#         if: runner.os == 'Windows'
#         run: ./.github/install_gtk.cmd
#         shell: bash

#       - name: Add GTK to PATH
#         if: runner.os == 'Windows'
#         run: echo "::add-path::D:\a\_temp\Library\RGtk2\gtk\bin"

#       - name: Check RGtk2
#         if: runner.os == 'Windows'
#         run: |
#           library(RGtk2)
#           gtkWindowNew()
#         shell: Rscript {0}

#       - name: Install dependencies
#         run: Rscript ./.github/install_deps.R
#         shell: bash

#       - name: Test coverage
#         uses: nick-invision/retry@v1
#         with:
#           timeout_minutes: 10
#           max_attempts: 3
#           command: Rscript -e "covr::codecov()"
